/nbproject/private/
/archivos
/documentos
/expedientes
/empresas
/requerimientos
/tasks
/templates_c
/ajax/templates_c
/temp
/payments
/db
/.sync
/.idea
config.php
javascript/js-config.js
/.svn
/dev
/sendFiles
/vendor
cron/*.txt
exportar.xlsx
cron-nuevo/*.txt
cron-nuevo/templates_c
cron/.facturas_log.txt.swp
export/templates_c
contracts.log